/* Borders: #7D7E7D */
/* Buttons: gradient [dark #494949 light 7d7e7d], */
/* Font: #E8E8E8 */
/* Panel backgrounds: #D2D2D2 */

/* background url on gradients, SVG cause a problem? */
/* some items already set to use !important see default.css for examples */

* {
    font-family: tahoma, Helvetica, Arial, sans-serif;
}

td {
    color:inherit;
}

body{
    background:#2d2d2d;
}
/*----------------------------------------------------------------------------*/
/* APPLICATION                                                                */
/*----------------------------------------------------------------------------*/

.ui-body{
    background:#2d2d2d;
}

.ui-app-toolbar {
	height:40;
	position: relative;
	background: #222222; 
	filter:none;
	text-align:center;
	font-family: tahoma, Helvetica, Arial, sans-serif;
} 
.ui-app-statusbar {
    height:40;
    position: relative;
	background: #222222;
	filter:none;
    text-align:center;
    font-family: tahoma, Helvetica, Arial, sans-serif;
} 

/*----------------------------------------------------------------------------*/
/* PAGE                                                                       */
/*----------------------------------------------------------------------------*/

.ui-page {
	background: #2d2d2d;
} 

.ui-toolbar {
    height:38;
    background: #e0e0e0; 
    background-image: -moz-linear-gradient(top, #fefefe, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0,   #fefefe), color-stop(1,#cccccc));
    background: -ms-linear-gradient(top, '#fefefe' 0%,'#fefefe' 31%,'#cccccc' 100%); /* IE10+ */
    background: -o-linear-gradient(top, '#fefefe' 0%,'#fefefe' 31%,'#cccccc' 100%); /* Opera11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    text-align:center;
    margin:0px;
    font-family: tahoma, Helvetica, Arial, sans-serif;
    font-size:20pt;
}

/*----------------------------------------------------------------------------*/
/* PANEL                                                                      */
/*----------------------------------------------------------------------------*/

.ui-panel{
}

.ui-panel-background{
	background: #2d2d2d;
}

.ui-panel-content{
    color:#fefefe;
	border-top:1px solid #4d4d4d;
}

.ui-panel-titlebar td {
	color: #E8E8E8;
}

.ui-panel-titlebar {
	background: #3a3a3a; /* Old browsers */
	border-bottom:1px solid #2f2f2f;
    height:22px;
}

.ui-panel-layout {
    background: #4a4a4a; 
    height:22px;
}

.ui-panel-tbar {
	background: #3a3a3a; /* Old browsers */
	border-top:1px solid #4d4d4d;
	border-bottom:1px solid #2f2f2f;
}

.ui-panel-tbar .ui-button-transparent{
	color: #E8E8E8;
}

.ui-panel-bbar {
    background: #3a3a3a; /* Old browsers */
}

.ui-panel-fit{
    border:0px  solid #4d4d4d;
}

.ui-panel-shadow{
    box-shadow: 3px 3px 6px #222;
}

.ui-panel-filler{
    background: #4a4a4a; 
}

/*----------------------------------------------------------------------------*/
/* WINDOW                                                                     */
/*----------------------------------------------------------------------------*/

.ui-window{
    border: 1px solid #555;
    z-index:9999;
    background: #3a3a3a;
    -moz-border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}

.ui-window-background{
    background: #3a3a3a; 
}

/*----------------------------------------------------------------------------*/
/* MESSAGE                                                                    */
/*----------------------------------------------------------------------------*/

.ui-message{
    border: 1px solid #555;
    z-index:99999;
    background: #D2D2D2;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    font-family: tahoma, Helvetica, Arial, sans-serif;
    font-size:12pt;
}

.ui-message-content{
    border-top: 0px;
}

.ui-message-body{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background: #3a3a3a;
}

.ui-message-bbar{
    background: #3a3a3a;
    border-top: 0px;
    -webkit-border-bottom-left-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-bottom-left-radius:6px;
    -moz-border-bottom-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
}

.ui-message-title{
    background: #3a3a3a;
    border-bottom: 0px solid #ccc;
    -webkit-border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-top-left-radius:6px;
    -moz-border-top-right-radius:6px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}

/*----------------------------------------------------------------------------*/
/* BUTTON                                                                     */
/*----------------------------------------------------------------------------*/

.ui-button { /* yes, no, ok and cancel buttons all currently using the same gradient, see below to change. */
	-moz-box-shadow:inset 0px 1px 0px 0px #C3C3C3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #C3C3C3;
	box-shadow:inset 0px 1px 0px 0px #C3C3C3;
	background: #7d7e7d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTQ5NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #7d7e7d 0%, #494949 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#494949)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7d7e7d 0%,#494949 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#494949',GradientType=0 ); /* IE6-8 */
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #2b2b2b;
	color:#E8E8E8;
	font-weight:normal;
    font-family: tahoma, Helvetica, Arial, sans-serif;
	font-size:12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #333;
}

.ui-button-ok {  
	color:#E8E8E8; 
	background: #7d7e7d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTQ5NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #7d7e7d 0%, #494949 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#494949)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7d7e7d 0%,#494949 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#494949',GradientType=0 ); /* IE6-8 */
}

.ui-button-cancel {
    color:#E8E8E8;  
	background: #7d7e7d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTQ5NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #7d7e7d 0%, #494949 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#494949)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7d7e7d 0%,#494949 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#494949',GradientType=0 ); /* IE6-8 */
}

.ui-button-yes {
    color:#E8E8E8;  
	background: #7d7e7d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTQ5NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #7d7e7d 0%, #494949 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#494949)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7d7e7d 0%,#494949 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#494949',GradientType=0 ); /* IE6-8 */
}

.ui-button-no {
    color:#E8E8E8;  
	background: #7d7e7d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTQ5NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #7d7e7d 0%, #494949 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#494949)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7d7e7d 0%,#494949 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#494949',GradientType=0 ); /* IE6-8 */
}

.ui-button-toggle
{
    color:#E8E8E8;  
	background: #494949; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5NDk0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZDdlN2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #494949 0%, #7d7e7d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494949), color-stop(100%,#7d7e7d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #494949 0%,#7d7e7d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #494949 0%,#7d7e7d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #494949 0%,#7d7e7d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #494949 0%,#7d7e7d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-8 */
}

.ui-button-text{
	color:#fefefe;
}

.ui-button-transparent{
	color:#E8E8E8;
	background:transparent;
	filter:none;
}

.ui-button-disabled{
	color:#888;
	text-shadow:1px 1px 0px #444;
}


/*----------------------------------------------------------------------------*/
/* FORM                                                                       */
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* LABEL                                                                     */

.ui-label{
    color:#2b2b2b;
}

.ui-table {
	color:#fefefe;
}

.ui-table .ui-label{
    color:#fefefe;
}

/*----------------------------------------------------------------------------*/
/* INPUTS                                                                     */

.ui-input{
    color:#2b2b2b;
}

.ui-textfield{
    background:#fff;
}

.ui-textarea{
    color:#2b2b2b;
}

/*----------------------------------------------------------------------------*/
/* GRID                                                                       */

.ui-grid{
}

.ui-grid-header{
    background: #333; 
    filter:none;
    text-align:center;
    margin:0px;
    font-family: tahoma, Helvetica, Arial, sans-serif;
    font-size:10pt;
    color:#fefefe;
    overflow: hidden;
}

.ui-grid-separator{
    border-left: 1px solid #6b6b6b;
}

.ui-grid-cell{
    border-top: 1px solid #6b6b6b;
    border-bottom: 1px solid #3b3b3b;
    border-right: 1px solid #6b6b6b;
    padding:2px;
    background: #454545; 
    color:#fefefe;
    font-size:10pt;
}

.ui-grid-cell-alt{
    border-top: 1px solid #6b6b6b;
    border-bottom: 1px solid #3b3b3b;
    border-right: 1px solid #6b6b6b;
    padding:2px;
    background: #545454; 
    color:#fefefe;
    font-size:10pt;
}

.ui-grid-cell-select{
    border-top: 1px solid #6b6b6b;
    border-bottom: 1px solid #3b3b3b;
    border-right: 1px solid #6b6b6b;
    padding:2px;
    background: #333; 
    color:#fff;
    font-size:10pt;
}

/*----------------------------------------------------------------------------*/
/* COMBO                                                                      */

.ui-combo{
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px;
    border:1px solid #555;
}

.ui-combo-input{
    color:#fefefe;
    border:0px;
    font-size:14px;
    font-family: tahoma, Helvetica, Arial, sans-serif;
    padding:0;
    background: transparent;
    text-decoration: none;
    font-weight: normal; 
    overflow:hidden;
    margin:0.1em;
}

.ui-combo-button {  
    text-decoration: none;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    -webkit-border-top-right-radius: 2px;  
    -moz-border-top-right-radius: 2px;  
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;  
    -moz-border-bottom-right-radius: 2px;  
    border-bottom-right-radius: 2px;
    border-left:1px solid #444;
	background: #7d7e7d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTQ5NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #7d7e7d 0%, #494949 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#494949)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7d7e7d 0%,#494949 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#494949',GradientType=0 ); /* IE6-8 */
    cursor:pointer;
}

.ui-combo-droplist{
    background:#fff;
    border:1px solid #ccc;
    color:#2b2b2b;
}

/*----------------------------------------------------------------------------*/
/* LIST                                                                       */

.ui-list {
    float:left;
    color:#fefefe;  
    font-family: tahoma, Helvetica, Arial, sans-serif;
    background: #494949;
}

.ui-listentry {
    color:#fefefe;  
    font-size:14pt;
    font-family: tahoma, Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #ddd;  
    background: #494949;
}

.ui-listentry:hover{
    background: #3b3b3b;
    cursor: pointer;
}

.ui-list-select{
    background: #5b5b5b;
}

/*----------------------------------------------------------------------------*/
/* SLIDER                                                                     */

.ui-sliderbar{
    border:1px SOLID #7D7E7D;
    background: #f9e197; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZTE5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmVlYzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f9e197 0%, #fbeec5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9e197), color-stop(100%,#fbeec5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9e197 0%,#fbeec5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9e197 0%,#fbeec5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9e197 0%,#fbeec5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9e197 0%,#fbeec5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e197', endColorstr='#fbeec5',GradientType=0 ); /* IE6-8 */
    -moz-border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}

.ui-slider{
    background: #f7de8c; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZGU4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZDdlMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f7de8c 0%, #ed7e00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7de8c), color-stop(100%,#ed7e00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7de8c 0%,#ed7e00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7de8c 0%,#ed7e00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7de8c 0%,#ed7e00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7de8c 0%,#ed7e00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7de8c', endColorstr='#ed7e00',GradientType=0 ); /* IE6-8 */
    -moz-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

/*----------------------------------------------------------------------------*/
/* PROGRESS                                                                   */

.ui-progressbar{
    border:1px SOLID #7D7E7D;
    background: #f9e197; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZTE5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmVlYzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f9e197 0%, #fbeec5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9e197), color-stop(100%,#fbeec5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9e197 0%,#fbeec5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9e197 0%,#fbeec5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9e197 0%,#fbeec5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9e197 0%,#fbeec5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9e197', endColorstr='#fbeec5',GradientType=0 ); /* IE6-8 */
    -moz-border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}

.ui-progress{
    background: #f7de8c; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZGU4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZDdlMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f7de8c 0%, #ed7e00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7de8c), color-stop(100%,#ed7e00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7de8c 0%,#ed7e00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7de8c 0%,#ed7e00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7de8c 0%,#ed7e00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7de8c 0%,#ed7e00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7de8c', endColorstr='#ed7e00',GradientType=0 ); /* IE6-8 */
    -moz-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:2px;
}

.ui-pictures {
	border: #7D7E7D;
}

/*----------------------------------------------------------------------------*/
/* LISBOX                                                                     */

.ui-listbox {
	border:1px solid #454545;
    background-color: #3a3a3a;
}

.ui-listbox-header {
    font: 14pt tahoma, Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
	background: #7d7e7d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTQ5NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #7d7e7d 0%, #494949 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#494949)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7d7e7d 0%,#494949 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#494949',GradientType=0 ); /* IE6-8 */
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    color:#fefefe;
}

.ui-listbox-text{
    color:#2b2b2b;
}

.ui-listbox-item  {
    background: #979797; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk3OTc5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YzZjNmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #979797 0%, #6c6c6c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#979797), color-stop(100%,#6c6c6c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #979797 0%,#6c6c6c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #979797 0%,#6c6c6c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #979797 0%,#6c6c6c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #979797 0%,#6c6c6c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#979797', endColorstr='#6c6c6c',GradientType=0 ); /* IE6-8 */
    height:60;
    text-decoration: none;
    font-family: tahoma, Helvetica, Arial, sans-serif;
    color:#222;  
}

.ui-listbox-item-last {
    background: #979797; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk3OTc5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YzZjNmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #979797 0%, #6c6c6c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#979797), color-stop(100%,#6c6c6c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #979797 0%,#6c6c6c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #979797 0%,#6c6c6c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #979797 0%,#6c6c6c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #979797 0%,#6c6c6c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#979797', endColorstr='#6c6c6c',GradientType=0 ); /* IE6-8 */
    height:60;
    padding-top:2;
    text-decoration: none;
    font-family: tahoma, Helvetica, Arial, sans-serif;
    color:#222;  
    overflow:hidden;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -border-bottom-left-radius:5px;
    -border-bottom-right-radius:5px;
}

.ui-listbox-select {
    background: #c0c0c0; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MwYzBjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNmE2YTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #c0c0c0 0%, #a6a6a6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0c0c0), color-stop(100%,#a6a6a6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c0c0c0 0%,#a6a6a6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c0c0c0 0%,#a6a6a6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c0c0c0 0%,#a6a6a6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c0c0c0 0%,#a6a6a6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#a6a6a6',GradientType=0 ); /* IE6-8 */
    color:#222;
}


/*----------------------------------------------------------------------------*/
/* DATAVIEW                                                                   */

.ui-dataview{
    color:#fefefe;  
}

.ui-dataview-element {
    float:left;
    color:#fefefe;  
    font: 14pt tahoma, Helvetica, Arial, sans-serif;
}

.ui-dataview-select {
    background: #2b2b2b; /* Old browsers */
    color:#fefefe;  
}

/*----------------------------------------------------------------------------*/
/* TABPANEL                                                                   */

.ui-tabpanel{
}

.ui-tab-text{
    color:#aeaeae;
}

html li.active .ui-tab-text{
    color:#FEFEFE;
}

.ui-tab-scroll{
    color:#7d7d7d;
}

.ui-tab-scroll-active{
    color:#ff0;
}

.ui-tab-panel{
	background: #3a3a3a;
	border:0px;
}

.ui-tab-content {
	background: #3a3a3a;
	border:0px;
}

ul.ui-tabs { 
    margin: 0; 
    padding: 0; 
    list-style: none; 
    height: 32px; /*--Set height of tabs--*/ 
    width: 100%; 
    border:0px;
    border-bottom: 1px solid #3a3a3a; 
	background: #7d7e7d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTQ5NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #7d7e7d 0%, #494949 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#494949)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#494949 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7d7e7d 0%,#494949 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#494949',GradientType=0 ); /* IE6-8 */
	color:#D2D2D2;
}

html ul.ui-tab li.active{
    color: #fefefe;
}

html ul.ui-tabs li.active, html ul.ui-tabs li.active  { /*--Makes sure that the active tab does not listen to the hover properties--*/ 
    background: #5b5b5b; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViNWI1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzNhM2EzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #5b5b5b 0%, #3a3a3a 75%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5b5b), color-stop(75%,#3a3a3a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5b5b5b 0%,#3a3a3a 75%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5b5b5b 0%,#3a3a3a 75%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5b5b5b 0%,#3a3a3a 75%); /* IE10+ */
    background: linear-gradient(to bottom,  #5b5b5b 0%,#3a3a3a 75%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#3a3a3a',GradientType=0 ); /* IE6-8 */
    border:1px solid #3a3a3a;
    border-bottom: 0px solid #3a3a3a; /*--Makes the active tab look like it's connected with its content--*/ 
    cursor:pointer;
    -moz-border-top-left-radius:6px;
    -moz-border-top-right-radius:6px;
    -moz-border-top-left-radius:6px;
    -webkit-border-top-left-radius:6px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
} 

/*----------------------------------------------------------------------------*/
/* RADIO                                                                     */

.ui-radio-text{
    color:#fefefe;
}
/*----------------------------------------------------------------------------*/
/* GENERAL                                                                    */

.ui-border{
	border: 1px solid #454545;
}

.ui-labeltext{
    color:#fdfdfd;
    font:10pt tahoma, Helvetica, Arial, sans-serif;
}

.ui-frame {
	border-color: #555;
}

.ui-shadow
{
    zoom: 1; /* hasLayout-Push for IE6 */
    width: 300px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    -vendor-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=4,MakeShadow=true,ShadowOpacity=0.35);
    background: #000000;
}

.ui-gradient {
    background: #e0e0e0; 
    background-image: -moz-linear-gradient(top, #fefefe, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0,   #fefefe), color-stop(1,#cccccc));
    background: -ms-linear-gradient(top, '#fefefe' 0%,'#fefefe' 31%,'#cccccc' 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.ui-hgradient {
    background: rgb(252,255,244); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmZmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2U5ZWZlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWRiYzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(252,255,244,1) 0%, rgba(233,239,225,1) 40%, rgba(209,219,201,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(233,239,225,1)), color-stop(100%,rgba(209,219,201,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(252,255,244,1) 0%,rgba(233,239,225,1) 40%,rgba(209,219,201,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(252,255,244,1) 0%,rgba(233,239,225,1) 40%,rgba(209,219,201,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(252,255,244,1) 0%,rgba(233,239,225,1) 40%,rgba(209,219,201,1) 100%); /* IE10+ */
    background: linear-gradient(left,  rgba(252,255,244,1) 0%,rgba(233,239,225,1) 40%,rgba(209,219,201,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#d1dbc9',GradientType=1 ); /* IE6-8 */
}
.CodeMirror-scroll  {
	background: #FFFFFF;
}
.CodeMirror{
	color: #000;
}
.treeview { color:#fff !important; }
.treeview li { background-image: url(../../ux/treeview/images/treeviewwhiteline.gif) !important; }
.treeview .hitarea, .treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(../../ux/treeview/images/treeviewwhite.gif) !important; } 
#myPlugin {
	color:white;
}
.ui-table {
	color: #fff;
}