.ui-app-toolbar {
    height:40;
    position: relative;
    background: rgb(137,200,229); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(137,200,229,1) 0%, rgba(79,166,214,1) 31%, rgba(6,109,171,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,200,229,1)), color-stop(31%,rgba(79,166,214,1)), color-stop(100%,rgba(6,109,171,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(137,200,229,1) 0%,rgba(79,166,214,1) 31%,rgba(6,109,171,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(137,200,229,1) 0%,rgba(79,166,214,1) 31%,rgba(6,109,171,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(137,200,229,1) 0%,rgba(79,166,214,1) 31%,rgba(6,109,171,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89c8e5', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(137,200,229,1) 0%,rgba(79,166,214,1) 31%,rgba(6,109,171,1) 100%); /* W3C */
    text-align:center;
    padding:5;
    padding-right:0;
    margin:0px;
    font-size:20pt;
} 
.ui-app-statusbar {
    height:40;
    position: relative;
    background: rgb(137,200,229); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(137,200,229,1) 0%, rgba(79,166,214,1) 31%, rgba(6,109,171,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,200,229,1)), color-stop(31%,rgba(79,166,214,1)), color-stop(100%,rgba(6,109,171,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(137,200,229,1) 0%,rgba(79,166,214,1) 31%,rgba(6,109,171,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(137,200,229,1) 0%,rgba(79,166,214,1) 31%,rgba(6,109,171,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(137,200,229,1) 0%,rgba(79,166,214,1) 31%,rgba(6,109,171,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89c8e5', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(137,200,229,1) 0%,rgba(79,166,214,1) 31%,rgba(6,109,171,1) 100%); /* W3C */
    text-align:center;
    padding:5;
    padding-right:0;
    margin:0px;
    font-size:20pt;
} 
.ui-toolbar {
    height:38;
    background: #e0e0e0; 
    background-image: -moz-linear-gradient(top, #fefefe, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0,   #fefefe), color-stop(1,#cccccc));
    background: -ms-linear-gradient(top, '#fefefe' 0%,'#fefefe' 31%,'#cccccc' 100%); /* IE10+ */
    background: -o-linear-gradient(top, '#fefefe' 0%,'#fefefe' 31%,'#cccccc' 100%); /* Opera11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    text-align:center;
    margin:0px;
    font-size:20pt;
}
.ui-grid-header{
    background: #e0e0e0; 
    background-image: -moz-linear-gradient(top, #fefefe, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0,   #fefefe), color-stop(1,#cccccc));
    background: -ms-linear-gradient(top, '#fefefe' 0%,'#fefefe' 31%,'#cccccc' 100%); /* IE10+ */
    background: -o-linear-gradient(top, '#fefefe' 0%,'#fefefe' 31%,'#cccccc' 100%); /* Opera11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    text-align:center;
    margin:0px;
    font-size:10pt;
    color:#000;
    overflow: hidden;
}

.ui-panel-titlebar {
    background: #e0e0e0; 
    background-image: -moz-linear-gradient(top, #fefefe, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0,   #fefefe), color-stop(1,#cccccc));
    background: -ms-linear-gradient(top, '#fefefe' 0%,'#fefefe' 31%,'#cccccc' 100%); /* IE10+ */
    background: -o-linear-gradient(top, '#fefefe' 0%,'#fefefe' 31%,'#cccccc' 100%); /* Opera11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    height:22px;
}

.ui-panel-tbar {
    background: #e0e0e0; 
    border-top: 1px solid #ccc;
    background-image: -moz-linear-gradient(top, #fefefe, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0,   #fefefe), color-stop(1,#cccccc));
    background: -ms-linear-gradient(top, '#fefefe' 0%,'#fefefe' 31%,'#cccccc' 100%); /* IE10+ */
    background: -o-linear-gradient(top, '#fefefe' 0%,'#fefefe' 31%,'#cccccc' 100%); /* Opera11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.ui-panel-bbar {
    background: #e0e0e0; 
    border-top: 1px solid #ccc;
    background-image: -moz-linear-gradient(top, #fefefe, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0,   #fefefe), color-stop(1,#cccccc));
    background: -ms-linear-gradient(top, '#fefefe' 0%,'#fefefe' 31%,'#cccccc' 100%); /* IE10+ */
    background: -o-linear-gradient(top, '#fefefe' 0%,'#fefefe' 31%,'#cccccc' 100%); /* Opera11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.ui-window{
    border: 2px solid #ccc;
    z-index:9999;
    background: #fefefe;
    -moz-border-radius:8px !important;
    -moz-border-radius:8px !important;
    -webkit-border-radius:8px !important;
    border-radius:8px !important;
}

.ui-message{
    border: 1px solid #555;
    z-index:99999;
    background-color: #fff;
    -moz-border-radius:8px !important;
    -webkit-border-radius:8px !important;
    border-radius:8px !important;
    font-size:12pt;
}

.ui-message-bbar{
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0,   #ffffff), color-stop(1,#ffffff));
    background: -ms-linear-gradient(top, '#ffffff' 0%,'#ffffff' 31%,'#ffffff' 100%); /* IE10+ */
    background: -o-linear-gradient(top, '#ffffff' 0%,'#ffffff' 31%,'#ffffff' 100%); /* Opera11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    border-top: 0px;
    -webkit-border-bottom-left-radius:8px !important;
    -webkit-border-bottom-right-radius:8px !important;
    -moz-border-bottom-left-radius:8px !important;
    -moz-border-bottom-right-radius:8px !important;
    border-bottom-left-radius:8px !important;
    border-bottom-right-radius:8px !important;
}

.ui-message-title{
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0,   #ffffff), color-stop(1,#ffffff));
    background: -ms-linear-gradient(top, '#ffffff' 0%,'#ffffff' 31%,'#ffffff' 100%); /* IE10+ */
    background: -o-linear-gradient(top, '#ffffff' 0%,'#ffffff' 31%,'#ffffff' 100%); /* Opera11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    border-top: 0px solid #ccc;
    -webkit-border-top-left-radius:8px !important;
    -webkit-border-top-right-radius:8px !important;
    -moz-border-top-left-radius:8px !important;
    -moz-border-top-right-radius:8px !important;
    border-top-left-radius:8px !important;
    border-top-right-radius:8px !important;
}

.ui-button {  
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px;
    font-family:tahoma;  
}

.ui-button-body {  
    color: #000;  
    border:1px solid #ccc;
    text-decoration: none;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px;
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZmJmYmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #bfbfbf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#bfbfbf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#bfbfbf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#bfbfbf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#bfbfbf 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#bfbfbf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfbfbf',GradientType=0 ); /* IE6-8 */
    cursor:pointer;
}

.ui-button-body-transparent {  
    color: #000;  
    text-decoration: none;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px;
    cursor:pointer;
}

.ui-button-body-black {  
    color: #fff;  
    border:1px solid #000;
    text-decoration: none;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px;
    background: rgb(69,72,77); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 46%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(46%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 46%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 46%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 46%); /* IE10+ */
    background: linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 46%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
    cursor:pointer;
}

.ui-button-body-red {  
    color: #fff;  
    border:1px solid #600000;
    text-decoration: none;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px;
    background: #ce0000; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ce0000 0%, #600000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce0000), color-stop(100%,#600000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ce0000 0%,#600000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ce0000 0%,#600000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ce0000 0%,#600000 100%); /* IE10+ */
    background: linear-gradient(top,  #ce0000 0%,#600000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce0000', endColorstr='#600000',GradientType=0 ); /* IE6-8 */
    cursor:pointer;
}

.ui-button-body-blue {  
    color: #fff;  
    border:1px solid #151a51;
    text-decoration: none;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px;
    background: #526bce; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUyNmJjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNTFhNTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #526bce 0%, #151a51 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#526bce), color-stop(100%,#151a51)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #526bce 0%,#151a51 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #526bce 0%,#151a51 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #526bce 0%,#151a51 100%); /* IE10+ */
    background: linear-gradient(top,  #526bce 0%,#151a51 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#526bce', endColorstr='#151a51',GradientType=0 ); /* IE6-8 */
    cursor:pointer;
}

.ui-button-body-green {  
    color: #fff;  
    border:1px solid #0ff;
    text-decoration: none;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px;
    background: #b4ddb4; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZGRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzgzYzc4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzUyYjE1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iIzAwOGEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzAwNTcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDI0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00), color-stop(83%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* IE10+ */
    background: linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-8 */
    cursor:pointer;
}

.ui-button-body-orange {  
    color: #fff;  
    border:1px solid #a61c00;
    text-decoration: none;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px;
    background: #ff870f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmODcwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNjFjMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ff870f 0%, #a61c00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff870f), color-stop(100%,#a61c00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff870f 0%,#a61c00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff870f 0%,#a61c00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff870f 0%,#a61c00 100%); /* IE10+ */
    background: linear-gradient(top,  #ff870f 0%,#a61c00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff870f', endColorstr='#a61c00',GradientType=0 ); /* IE6-8 */
    cursor:pointer;
}

.ui-button-body-purple {  
    color: #fff;  
    border:1px solid #870167;
    text-decoration: none;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    -webkit-border-radius: 6px;  
    -moz-border-radius: 6px;  
    border-radius: 6px;
    background: #cc4bab; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjNGJhYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NzAxNjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #cc4bab 0%, #870167 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc4bab), color-stop(100%,#870167)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cc4bab 0%,#870167 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cc4bab 0%,#870167 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cc4bab 0%,#870167 100%); /* IE10+ */
    background: linear-gradient(top,  #cc4bab 0%,#870167 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc4bab', endColorstr='#870167',GradientType=0 ); /* IE6-8 */
    cursor:pointer;
}

.ui-combo-droplist{
    background-color:#fff;
    border:1px solid #ccc;
}
.ui-sliderbar{
    border:1px SOLID #ccc;
    background-color: #eee;
    -moz-border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}

.ui-slider{
    border:1px SOLID #ccc;
    background-color: #ddd;
    -moz-border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

.ui-progressbar{
    border:1px SOLID #ccc;
    background: #86aecc; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg2YWVjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNGU0ZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #86aecc 0%, #d4e4ef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86aecc), color-stop(100%,#d4e4ef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #86aecc 0%,#d4e4ef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #86aecc 0%,#d4e4ef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #86aecc 0%,#d4e4ef 100%); /* IE10+ */
    background: linear-gradient(top,  #86aecc 0%,#d4e4ef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86aecc', endColorstr='#d4e4ef',GradientType=0 ); /* IE6-8 */
    -moz-border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}

.ui-progress{
    background: #7db9e8; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTU3OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 49%, #1e5799 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(49%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 49%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7db9e8 0%,#2989d8 49%,#1e5799 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7db9e8 0%,#2989d8 49%,#1e5799 100%); /* IE10+ */
    background: linear-gradient(top,  #7db9e8 0%,#2989d8 49%,#1e5799 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-8 */
    -moz-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:2px;
}

.ui-listbox-header {
    font-family: sans-serif;
    font-weight: normal;
    text-decoration: none;
    background: rgb(137,200,229); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(137,200,229,1) 0%, rgba(79,166,214,1) 31%, rgba(6,109,171,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,200,229,1)), color-stop(31%,rgba(79,166,214,1)), color-stop(100%,rgba(6,109,171,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(137,200,229,1) 0%,rgba(79,166,214,1) 31%,rgba(6,109,171,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(137,200,229,1) 0%,rgba(79,166,214,1) 31%,rgba(6,109,171,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(137,200,229,1) 0%,rgba(79,166,214,1) 31%,rgba(6,109,171,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89c8e5', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(137,200,229,1) 0%,rgba(79,166,214,1) 31%,rgba(6,109,171,1) 100%); /* W3C */
    -moz-border-radius-topleft:6px;
    -moz-border-radius-topright:6px;
    -webkit-border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    color:#eee;
    padding:4px;
}

.ui-listbox-select {
    background: #f7fbfc !important; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZmJmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2Q5ZWRmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZGQ5ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
    background: -moz-linear-gradient(top,  #f7fbfc 0%, #d9edf2 40%, #add9e4 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7fbfc), color-stop(40%,#d9edf2), color-stop(100%,#add9e4)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7fbfc 0%,#d9edf2 40%,#add9e4 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7fbfc 0%,#d9edf2 40%,#add9e4 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7fbfc 0%,#d9edf2 40%,#add9e4 100%) !important; /* IE10+ */
    background: linear-gradient(top,  #f7fbfc 0%,#d9edf2 40%,#add9e4 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=0 ) !important; /* IE6-8 */
    color:#222 !important;
}

.ui-listbox-item  {
    background-image: -moz-linear-gradient(top, #fdfdfd, #dddddd);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0,   #fdfdfd), color-stop(1,#dddddd));
    background: -ms-linear-gradient(top, '#fdfdfd' 0%,rgba(6,109,171,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    height:60;
    text-decoration: none;
    font-family: sans-serif;
    text-shadow: 0 1px 1px #f6f6f6;
    color:#222;  
}

.ui-listbox-item-last {
    background-image: -moz-linear-gradient(top, #fdfdfd, #dddddd);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0,   #fdfdfd), color-stop(1,#dddddd));
    background: -ms-linear-gradient(top, '#fdfdfd' 0%,rgba(6,109,171,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    height:60;
    padding-top:2;
    text-decoration: none;
    font-family: sans-serif;
    text-shadow: 0 1px 1px #f6f6f6;
    color:#222;  
    -moz-border-radius-bottomleft:6px;
    -moz-border-radius-bottomright:6px;
    -webkit-border-bottom-left-radius:6px;
    -webkit-border-bottom-right-radius:6px;
}

.ui-dataview-element {
    float:left;
    background-color:#ddd;
    background-image: -moz-linear-gradient(top, #fdfdfd, #dddddd);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0,   #fdfdfd), color-stop(1,#dddddd));
    color:#222;  
    text-shadow: 0 1px 1px #f6f6f6;
    font-size:14pt;
    font-family: verdana;
}

ul.ui-tabs { 
    margin: 0; 
    padding: 0; 
    list-style: none; 
    height: 32px; /*--Set height of tabs--*/ 
    border-bottom: 1px solid #fff; 
    width: 100%; 
    background: #e0e0e0; 
    background-image: -moz-linear-gradient(top, #fefefe, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0,   #fefefe), color-stop(1,#cccccc));
    background: -ms-linear-gradient(top, '#fefefe' 0%,'#fefefe' 31%,'#cccccc' 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
    border: 1px solid #999;
}
 
html ul.ui-tabs li.active, html ul.ui-tabs li.active  { /*--Makes sure that the active tab does not listen to the hover properties--*/ 
    background: #fff; 
    border:1px solid #ccc;
    border-bottom: 2px solid #fff; /*--Makes the active tab look like it's connected with its content--*/ 
    cursor:pointer;
    -moz-border-top-left-radius:8px !important;
    -moz-border-top-right-radius:8px !important;
    -moz-border-top-left-radius:8px !important;
    -webkit-border-top-left-radius:8px !important;
    border-top-left-radius:8px !important;
    border-top-right-radius:8px !important;
} 

.ui-shadow
{
    zoom: 1; /* hasLayout-Push for IE6 */
    width: 300px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    -vendor-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=4,MakeShadow=true,ShadowOpacity=0.35);
    background: #000000;
}

.ui-gradient {
    background: #e0e0e0; 
    background-image: -moz-linear-gradient(top, #fefefe, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0,   #fefefe), color-stop(1,#cccccc));
    background: -ms-linear-gradient(top, '#fefefe' 0%,'#fefefe' 31%,'#cccccc' 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.ui-hgradient {
    background: rgb(252,255,244); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmZmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2U5ZWZlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWRiYzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(252,255,244,1) 0%, rgba(233,239,225,1) 40%, rgba(209,219,201,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(233,239,225,1)), color-stop(100%,rgba(209,219,201,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(252,255,244,1) 0%,rgba(233,239,225,1) 40%,rgba(209,219,201,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(252,255,244,1) 0%,rgba(233,239,225,1) 40%,rgba(209,219,201,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(252,255,244,1) 0%,rgba(233,239,225,1) 40%,rgba(209,219,201,1) 100%); /* IE10+ */
    background: linear-gradient(left,  rgba(252,255,244,1) 0%,rgba(233,239,225,1) 40%,rgba(209,219,201,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#d1dbc9',GradientType=1 ); /* IE6-8 */
}