/*slate
.slate.treeview {    
    color:#fff;
}
.slate.treeview li { background: url(images/treeviewwhiteline.gif) 0 0 no-repeat; }

.slate.treeview .hitarea {
    background: url(images/treeviewwhite.gif) -64px -25px no-repeat;
}
.slate.treeview .hover { color: orange; cursor: pointer; }

.slate.treeview .expandable-hitarea { background-position: -80px -3px; }

.slate.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(images/treeviewwhite.gif); }  

.slate.treeview .hitarea, .slate.treeview li.lastCollapsable, .slate.treeview li.lastExpandable { background-image: url(images/treeviewwhite.gif); } 
end*/

.treeview, .treeview ul { 
    padding: 0;
    margin: 0;
    list-style: none;
}

.treeview ul {
    margin-top: 4px;
}

.treeview .hitarea {
    background: url(images/treeviewdefault.gif) -64px -25px no-repeat;
    height: 16px;
    width: 16px;
    margin-left: -16px;
    float: left;
    cursor: pointer;
}

/* fix for IE6 */
* html .hitarea {
    display: inline;
    float:none;
}

.treeview li { 
    margin: 0;
    padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
    background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url(images/treeviewdefaultline.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(images/treeviewdefault.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url(images/treeviewredline.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(images/treeviewred.gif); } 

.treeview-black li { background-image: url(images/treeviewblackline.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(images/treeviewblack.gif); }  

.treeview-gray li { background-image: url(images/treeviewgrayline.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(images/treeviewgray.gif); } 

.treeview-famfamfam li { background-image: url(images/treeviewfamfamfamline.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(images/treeviewfamfamfam.gif); } 

.treeview .placeholder {
    background: url(images/ajaxloader.gif) 0 0 no-repeat;
    height: 16px;
    width: 16px;
    display: block;
}

.treeview span { font-family:sans-serif;font-size:10pt; }
.treeview li { padding: 3px 0 2px 16px; background-repeat: no-repeat; }
.treeview span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.treeview span.folder { background: url(images/folder.gif) 0 0 no-repeat; }
.treeview li.expandable span.folder { background: url(images/folderclosed.gif) 0 0 no-repeat; }
.treeview span.file { background: url(images/file.gif) 0 0 no-repeat; padding-left:20px; background-repeat:no-repeat; }