span.cm-js-keyword {color: #90b;}
span.cm-js-atom {color: #291;}
span.cm-js-variabledef {color: #00f;}
span.cm-js-localvariable {color: #049;}
span.cm-js-comment {color: #a70;}
span.cm-js-string {color: #a22;}
